/* 
Indicate where aria authoring practice 
patterns have been incorrectly implemented 


Very much a work in progress!
*/

/* ====== Menu item issues ========================
APG 1.2 pattern - Menu or Menu bar
https://www.w3.org/TR/wai-aria-practices-1.2/#menu)
/* ================================================
*/
[role="menu"]>[role="menuitem"]>a,
[role="menu"]>[role="menuitemcheckbox"]>a,
[role="menu"]>[role="menuItem"]>a,
[role="menu"]>[role="menuItemCheckbox"]>a {
 outline:2px solid red;
}
[role="menu"]>[role="menuitem"]>a:before,
[role="menu"]>[role="menuitemcheckbox"]>a:before,
[role="menu"]>[role="menuItem"]>a:before,
[role="menu"]>[role="menuItemCheckbox"]>a:before {
 font-weight: bold;
 display: inline-block;
 margin-right: 5px;
}

[role="menu"]>[role="menuitem"]>a:before,
[role="menu"]>[role="menuItem"]>a:before {
 content:"🚨 Link is not focusable, role='menuitem' is applied to parent element";
}
[role="menu"]>[role="menuitemcheckbox"]>a:before,
[role="menu"]>[role="menuItemCheckbox"]>a:before {
 content:"🚨 Link is not focusable, role='menuitemcheckbox' is applied to parent element";
}

[role="menu"]>[role="menuitem"]>a[tabindex="0"]:before,
[role="menu"]>[role="menuItem"]>a[tabindex="0"]:before,
[role="menu"]>[role="menuitem"]>a[href]:before,
[role="menu"]>[role="menuItem"]>a[href]:before {
 content:"🚨 Link is focusable, role='menuitem' is applied to parent element";
}
[role="menu"]>[role="menuitemcheckbox"]>a[tabindex="0"]:before,
[role="menu"]>[role="menuItemCheckbox"]>a[tabindex="0"]:before,
[role="menu"]>[role="menuitemcheckbox"]>a[href]:before,
[role="menu"]>[role="menuItemCheckbox"]>a[href]:before {
 content:"🚨 Link is focusable, role='menuitemcheckbox' is applied to parent element";
}
